@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

:root {
    --background_main_color: #002b36;
    --nav_triggered_color: #d44040;
    --nav_default_color: rgba(229, 191, 212);
}

/* html{
    filter: contrast(110%);
} */

body {
    height: 100%;
    background-image: linear-gradient(var(--background_main_color), black);
    text-decoration-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(174, 175, 175);
}


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

/* form fieldset, .fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* gap: 2px;
    border-radius: 25px;
    margin: 15px;
    border: solid;
} */ */

.background {
    z-index: -1;
}

.foreground {
    z-index: 1;
}

main {
    position: relative;
    top: 150px;
    width: 80%;
    margin-left: 10%;
    aspect-ratio: 4 / 3;
}


@keyframes menu_hover {
    from {
        background-color: var(--background_main_color);
        padding: 5px;
    }

    to {
        background-color: #545a69;
        padding: 7px;
        padding-right: 20px;
    }
}


table {
    border: 1px;
    border-radius: 5px;
    border-color: white;
    border-top: solid;
    border-left: solid;
}

th,
td {
    border: 1px;
    border-radius: 5px;
    border-color: white;
    border-bottom: solid;
    border-right: solid;
}

input[readonly] {
    background-color: #002b36;
    color: white;
    text-emphasis-color: white;
  } 

button, .btn {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 0px;
    padding: 5px;
}

input {
    border-radius: 3px;
    text-align: center;
}

#logout {
    margin:20px ;
    float:right;
    top:-20px;
}


button:hover, .btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

dt {
    font-size: 24px;
    font-style:oblique;
    padding: 5px;
}